{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<center>
<div class="container">
<p>Первый филиал нашего заведения находится по адресу Большая Морская ул., 67.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916.6250825661318!2d30.29600302362568!3d59.92926622466337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630e20893ae4f%3A0x64cccee1889b3e72!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LPRgdC60LjQuSDQs9C-0YHRg9C00LDRgNGB0YLQstC10L3QvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQsNGN0YDQvtC60L7RgdC80LjRh9C10YHQutC-0LPQviDQv9GA0LjQsdC-0YDQvtGB0YLRgNC-0LXQvdC40Y8!5e0!3m2!1sru!2sru!4v1642322413081!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</center>

{% endblock %}

