{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Кофейня является удобным, красивым, стильным и интересным местом. <br>Здесь предлагают не только горячие напитки, но и натуральные кофейные
    <br>зёрна от лучших производителей. Атмосфера заведения порадует спокойными, теплыми тонами, приятной обстановкой. Место прекрасно подходит для отдыха, проведения переговоров, свидания, обеденного перерыва.
<br><br><br><img src="https://uploads-ssl.webflow.com/60b6527efbb0f53f37487b78/60b6527efbb0f53426487ff0_1.png" alt="альтернативный текст">

{% endblock %}