{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<div class="container">
    <br>
    <form action="/login_barista" align="left" method="post" class="form-contact">
        <h4 align="left" >Персональный номер:</h4>
        <input type="text" name="login" id="login" class="form-control justify-content-md-center col-3"><br>
        <h4 align="left" >Пароль:</h4>
        <input type="password" name="password" id="password" class="form-control justify-content-md-center col-3"><br>
        <br>
        <input type="submit" class="btn btn-success" value="Войти" >
        <br>
        <br>
        <h3>{{ excepti }}</h3>
    </form>
    </div>
{% endblock %}