{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<center><h5>{{ excepti }}</h5></center>
<form align="left" method="post">
<table class="table">
 <thead>
            <tr>
                <th>Название напитка</th>
                <th>Состав </th>
                <th>Цена </th>
            </tr>
 </thead>
            {% for r in data %}
                 <tr>
                  <td>{{ r[1] }}</td>
                  <td>{{ r[3] }}</td>
                  <td>{{ r[2] }} руб. </td>
                 </tr>
            {% endfor %}
        </table>

</form>
{% endblock %}